body{
  background-color: gray;
}

.navbar{
    height:110px;
    padding-top:25px;
    margin-bottom:0px;
}

.navbar-brand{
    color:white;
    font-size: 40px;
}

.navbar-default{
  background-color: #222;
}

.title-bar{
    padding:30px;
    background-image:url("http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/v1475688772/IMG_6375_fsyhg5.jpg");
    background-size: cover;
}

.title-bar .col-sm-4{
    text-align: center;
}
.title-bar .col-sm-8{
    text-align: right;
    font-weight: bold;
    color: white;
}
.title-bar img{
    transform: rotate(180deg);
}

.portfolio{
    background-color:lightgrey;
    margin-bottom: 0px;
}

.portfolio-image{
  height:35vh;
  width:100%;
  background-size:cover;
  background-position: top left;
}

.portfolio_name, .portfolio_contact{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.links,.contact{
    border-bottom: 3px solid darkgrey;
    margin-bottom:15px;
}

.link{
    text-align: center;
    padding:0px 20px 20px 20px;
}

.contact .lead{
    padding:0px 35px 20px 35px;
}

.link-title{
    text-decoration: none;
    color:gray;
    font-size: .75em;
    padding-bottom:.5em;
}

/*--Footer Styles---*/

.nav-footer{
    height:75px;
    background-color: rgb(34,34,34);
    color:#9d9d9d;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:0px;
}
.nav-footer ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 16px;
}
.nav-footer a, .nav-footer li{
    text-decoration: none;
    color: inherit;
    transition:color .4s;
}
.nav-footer li:hover{
    color:white;
}

@media (min-width: 568px) {
    .title-bar .col-sm-8, .title-bar .col-sm-8 div{
      text-align: right;
    }
    .title-bar .col-xs-8{
      font-size: 2em;
    }
    .portfolio-image{
      height:60vh;
      width:100%;
    }
}


/* Heliowire styles */
.glyphicon{
    color:orange;
}

.mainlogo{
    size:150%;
}
.maintitle{
    display:block;
}
