//*-------------DEFAULT STYLES & UNDER 768px-------------------*//
html{

}

body{
}

.generalheader{
    height:2em;
    padding-top:5px;
    padding-bottom:5px;
}
.homeheader{
    height:6em;

}

.navbar{
}

#sunicon{
    display:block;
    width:2.5em;
    height:2.5em;
    background: url("/photos/sunicon.jpg");
    background-size:cover;
    margin-top:-.75em;
}

.filler{
    height:1000px;
}


.maintitle{
    font-size: 1.5em;
}

.navbar-collapse{
    font-size:.75em;
}

.navbar-brand{
}

.navbar-brand a{
    text-decoration: none;
    color:inherit;
}

.motto{
    color: rgb(157, 157, 157);
    vertical-align: center;
}

.story-panel{
}

.likes .glyphicon{
    font-size:20px;
    background:none;
    border:0px;
}

.likes button:select{
    text-decoration: none;
    background:none;
    border:0px;
}

.side-panel{
    padding:15px;
    word-wrap: break-word;
}
.side-panel img{
    padding-bottom: 15px;
}

.side-panel div{
    text-align: left;
    padding-bottom: 8px;
}

.mainImage{
    padding-top:20px;
}

.solarnews-panel{
    padding: 20px;
}

.solar-story{
    margin: 15px 10px;
    border-bottom: 2px solid grey;
}
.self-text{
  text-align: left;
}

.drop_item{
  background-color: rgb(34,34,34);
}

//*------------BLACK SCHEME STYLING (Apply this class to body element)--------------*/
.black-scheme{
    background-color:gray !important;
}
.black-scheme .solarnews-panel, .black-scheme .story-panel{
    background-color:black;
    color:#EBE3E3;
}
.black-scheme .side-panel{
    background-color:#EBE3E3;
}

.motto{
    line-height: .5em;
    color: orange;
}

/*-----------MEDIA QUERIES-------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .motto{
        line-height: 1em;
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.maintitle{
        font-size:2em;
    }

.navbar-collapse{
    font-size:.75em;
}
    .motto{
        line-height: 1em;
    }

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.maintitle{
        font-size:2.5em;
    }

.top-row{
    height:500px;
}
.top-row{
        height:250px;
    }

}
